#series-text {
  color: white;
  opacity: 100%;
  /* text-decoration: underline; */
}


@media screen and (max-width: 768px) {

  #series-text button {
    color: white;
  }
}

/* ----------CELULAR---------------- */

@media screen and (max-width: 430px) {

  #series-text button {
    z-index: 11111;
    color: white;
  }
  
}

a{
    text-decoration: none;
}
